<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table id="userTable">
      <thead>
      <tr>
        <th>ID</th>
        <th>URL</th>
        <th>HTTP 여부</th>
        <th>동기 여부</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="compStd : ${result}">
        <td th:text="${compStd.id}">id</td>
        <td th:text="${compStd.url}">url</td>
        <td th:text="${compStd.isHttp}">isHttp</td>
        <td th:text="${compStd.isSync}">isSync</td>
      </tr>
      </tbody>
    </table>
</body>
</html>